// Global Styles


#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50

// Highlight color
.color-highlight
  color: #ff7878

// Clickable text
.clickable:hover
  cursor: pointer

// Non-selectable text
.unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.left
  float: left

.right
  float: right

button
  transition: all .25s ease !important

.hov-float:hover
  transform: translateY(-5px) !important

.flex-vcenter
  // Vertical Flex Center
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center

.nowrap
  overflow: hidden
  white-space: nowrap
  text-overflow: clip
